.auth-page {
  .key-page {
    text-align: center;
    padding: 200px 100px;
  }
  .sms-tip {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    .second {
      color: #1890ff;
    }
    .reset-sms {
      color: #1890ff;
    }
  }
  h1 {
    color: #fff;
  }
  .sky-container {
    opacity: 0;
    position: absolute;
    top: -80px;
    right: 50%;
    animation: turn 200s linear infinite;
    img {
      width: 400px;
    }
  }
  @keyframes turn {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(90deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
    }
    75% {
      -webkit-transform: rotate(270deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}
